.btn-ttc, .btn-ttc:hover, .btn-ttc:active {
color: white; text-shadow:
0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #007da7;
}


.btn-ttc {
background-repeat: repeat-x;
background-image: linear-gradient(top, #009ED2 0%, #007DA7 100%);

}



.btn-ttc:hover {
background-position: 0 -15px;
}
